In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(columns=['age', 'gender', 'BMI', 'gluc','smoke', 'alco', 'active', 'risk_group'])

Some asumptions. Spain has a population over 30 years old of 30.380.000 people. 
Since thats a lot of data, we are going to reduce everything (at least for now) to 1.000.000 subjetcs.
Our relation X will be: X = 1.000.000 / 30.380.000 = 0.03291639236

In [3]:
import time
start_time = time.time()
# Creating a 1 dimensional numpy array
data = np.full((1, 10**6), 0)

# Creating pandas dataframe from numpy array
df = pd.DataFrame({'age':data[0,:], 'gender':data[0,:], 'BMI':data[0,:], 'gluc':data[0,:],'smoke':data[0,:],
                   'alco':data[0,:], 'active':data[0,:], 'risk_group':data[0,:]})

print ("My program took", time.time() - start_time, "to run")

df

My program took 0.021003246307373047 to run

        age  gender  BMI  gluc  smoke  alco  active  risk_group
0         0       0    0     0      0     0       0           0
1         0       0    0     0      0     0       0           0
2         0       0    0     0      0     0       0           0
3         0       0    0     0      0     0       0           0
4         0       0    0     0      0     0       0           0
...     ...     ...  ...   ...    ...   ...     ...         ...
999995    0       0    0     0      0     0       0           0
999996    0       0    0     0      0     0       0           0
999997    0       0    0     0      0     0       0           0
999998    0       0    0     0      0     0       0           0
999999    0       0    0     0      0     0       0           0

[1000000 rows x 8 columns]

Lets putting some numbers here.

All original values will be multiplied by our factor 0.03291639236.

Also, Spain has a population of 51% women and a 49% of men.

Total population (30-80 years): 30.380.000 -> 1.000.000
Total man (30-80 years): 490.000
Total woman (30-80 years): 510.000

# SETTING GENDER

In [4]:
df.gender[:int(0.51*len(df.gender))] = 1
df.gender[int(0.51*len(df.gender)):] = 2

In [5]:
df

        age  gender  BMI  gluc  smoke  alco  active  risk_group
0         0       1    0     0      0     0       0           0
1         0       1    0     0      0     0       0           0
2         0       1    0     0      0     0       0           0
3         0       1    0     0      0     0       0           0
4         0       1    0     0      0     0       0           0
...     ...     ...  ...   ...    ...   ...     ...         ...
999995    0       2    0     0      0     0       0           0
999996    0       2    0     0      0     0       0           0
999997    0       2    0     0      0     0       0           0
999998    0       2    0     0      0     0       0           0
999999    0       2    0     0      0     0       0           0

[1000000 rows x 8 columns]

In [6]:
df.gender.value_counts()

1    510000
2    490000
Name: gender, dtype: int64

In [7]:
##################
#REDUCTION FACTOR#
##################
factor = 0.03291639236

# SETTING AGES

In [8]:
male_age_quant = np.array([266932, 270659, 275244, 283423, 294140, 304859, 319552, 337370,
       354531, 369466, 385117, 398512, 405797, 408319, 405506, 399090,
       393506, 388862, 382155, 376626, 372004, 370087, 365477, 357896,
       356809, 349375, 333530, 322155, 317622, 312398, 302728, 293736,
       278553, 263113, 251056, 243436, 242089, 231903, 219076, 217546,
       223353, 215807, 197805, 193540, 189393, 179191, 161904, 140264,
       143961, 126742, 102011])

male_age_quant_scaled = factor*male_age_quant

In [9]:
len(male_age_quant_scaled)

51

In [10]:
female_age_quant = np.array([265410, 270922, 277663, 286535, 297310, 308535, 322762, 339042,
       354748, 368485, 381582, 391233, 397094, 399112, 396242, 390252,
       384388, 381141, 376223, 372419, 369695, 369978, 366840, 361463,
       362968, 356217, 341971, 332727, 329457, 325340, 316883, 309461,
       295658, 281153, 270642, 263996, 262202, 252851, 241912, 243883,
       253589, 246863, 229898, 228844, 226438, 217007, 198612, 174744,
       184465, 168130, 140816])

female_age_quant_scaled = factor*female_age_quant
#len(female_age_quant)

In [11]:
male_lower_limit = 0
male_upper_value = 0
female_lower_limit = 0
female_upper_value = 0

print('------------------------- man values --------------------------')
for i in range(len(male_age_quant_scaled)):
    if i==0:
        male_lower_limit += 0
        male_upper_value += int(round(male_age_quant_scaled[i]))
        df.age[male_lower_limit:male_upper_value] = (i+30)
    elif i !=0:
        male_lower_limit += int(round(male_age_quant_scaled[i-1]))
        male_upper_value += int(round(male_age_quant_scaled[i]))
        df.age[male_lower_limit:male_upper_value] = (i+30)
    print('male_lower_limit',male_lower_limit)
    print('male_upper_value',male_upper_value)
    print('years', 30+i)
    print('quantity', male_age_quant[i])
    print('scaled quantity', male_age_quant_scaled[i])
    print(len(df.loc[df.age ==(30+i)]))
    print('accumulative_quantity', male_upper_value)
    print('-'*30)

print('------------------------- woman values --------------------------')
for i in range(len(female_age_quant_scaled)):
    if i==0:
        female_lower_limit += male_upper_value
        female_upper_value += (male_upper_value + int(round(female_age_quant_scaled[i])))
        df.age[female_lower_limit:female_upper_value] = (i+30)
    elif i !=0:
        female_lower_limit += int(round(female_age_quant_scaled[i-1]))
        female_upper_value += int(round(female_age_quant_scaled[i]))
        df.age[female_lower_limit:female_upper_value] = (i+30)
    print('years', 30+i)
    print('quantity', male_age_quant[i])
    print(len(df.loc[df.age ==(30+i)]))
    print('accumulative_quantity', male_upper_value)
    print('-'*30)

------------------------- man values --------------------------
male_lower_limit 0
male_upper_value 8786
years 30
quantity 266932
scaled quantity 8786.438445439519
8786
accumulative_quantity 8786
------------------------------
male_lower_limit 8786
male_upper_value 17695
years 31
quantity 270659
scaled quantity 8909.11783976524
8909
accumulative_quantity 17695
------------------------------
male_lower_limit 17695
male_upper_value 26755
years 32
quantity 275244
scaled quantity 9060.03949873584
9060
accumulative_quantity 26755
------------------------------
male_lower_limit 26755
male_upper_value 36084
years 33
quantity 283423
scaled quantity 9329.262671848279
9329
accumulative_quantity 36084
------------------------------
male_lower_limit 36084
male_upper_value 45766
years 34
quantity 294140
scaled quantity 9682.0276487704
9682
accumulative_quantity 45766
------------------------------
male_lower_limit 45766
male_upper_value 55801
years 35
quantity 304859
scaled quantity 10034.85845847724
10035
accumulative_quantity 55801
------------------------------
male_lower_limit 55801
male_upper_value 66319
years 36
quantity 319552
scaled quantity 10518.499011422718
10518
accumulative_quantity 66319
------------------------------
male_lower_limit 66319
male_upper_value 77424
years 37
quantity 337370
scaled quantity 11105.0032904932
11105
accumulative_quantity 77424
------------------------------
male_lower_limit 77424
male_upper_value 89094
years 38
quantity 354531
scaled quantity 11669.88149978316
11670
accumulative_quantity 89094
------------------------------
male_lower_limit 89094
male_upper_value 101255
years 39
quantity 369466
scaled quantity 12161.48781967976
12161
accumulative_quantity 101255
------------------------------
male_lower_limit 101255
male_upper_value 113932
years 40
quantity 385117
scaled quantity 12676.662276506118
12677
accumulative_quantity 113932
------------------------------
male_lower_limit 113932
male_upper_value 127050
years 41
quantity 398512
scaled quantity 13117.577352168319
13118
accumulative_quantity 127050
------------------------------
male_lower_limit 127050
male_upper_value 140407
years 42
quantity 405797
scaled quantity 13357.37327051092
13357
accumulative_quantity 140407
------------------------------
male_lower_limit 140407
male_upper_value 153847
years 43
quantity 408319
scaled quantity 13440.38841204284
13440
accumulative_quantity 153847
------------------------------
male_lower_limit 153847
male_upper_value 167195
years 44
quantity 405506
scaled quantity 13347.794600334159
13348
accumulative_quantity 167195
------------------------------
male_lower_limit 167195
male_upper_value 180332
years 45
quantity 399090
scaled quantity 13136.6030269524
13137
accumulative_quantity 180332
------------------------------
male_lower_limit 180332
male_upper_value 193285
years 46
quantity 393506
scaled quantity 12952.79789201416
12953
accumulative_quantity 193285
------------------------------
male_lower_limit 193285
male_upper_value 206085
years 47
quantity 388862
scaled quantity 12799.93416589432
12800
accumulative_quantity 206085
------------------------------
male_lower_limit 206085
male_upper_value 218664
years 48
quantity 382155
scaled quantity 12579.1639223358
12579
accumulative_quantity 218664
------------------------------
male_lower_limit 218664
male_upper_value 231061
years 49
quantity 376626
scaled quantity 12397.16918897736
12397
accumulative_quantity 231061
------------------------------
male_lower_limit 231061
male_upper_value 243306
years 50
quantity 372004
scaled quantity 12245.02962348944
12245
accumulative_quantity 243306
------------------------------
male_lower_limit 243306
male_upper_value 255488
years 51
quantity 370087
scaled quantity 12181.928899335318
12182
accumulative_quantity 255488
------------------------------
male_lower_limit 255488
male_upper_value 267518
years 52
quantity 365477
scaled quantity 12030.18433055572
12030
accumulative_quantity 267518
------------------------------
male_lower_limit 267518
male_upper_value 279299
years 53
quantity 357896
scaled quantity 11780.645160074559
11781
accumulative_quantity 279299
------------------------------
male_lower_limit 279299
male_upper_value 291044
years 54
quantity 356809
scaled quantity 11744.86504157924
11745
accumulative_quantity 291044
------------------------------
male_lower_limit 291044
male_upper_value 302544
years 55
quantity 349375
scaled quantity 11500.164580775
11500
accumulative_quantity 302544
------------------------------
male_lower_limit 302544
male_upper_value 313523
years 56
quantity 333530
scaled quantity 10978.604343830799
10979
accumulative_quantity 313523
------------------------------
male_lower_limit 313523
male_upper_value 324127
years 57
quantity 322155
scaled quantity 10604.1803807358
10604
accumulative_quantity 324127
------------------------------
male_lower_limit 324127
male_upper_value 334582
years 58
quantity 317622
scaled quantity 10454.970374167919
10455
accumulative_quantity 334582
------------------------------
male_lower_limit 334582
male_upper_value 344865
years 59
quantity 312398
scaled quantity 10283.01514047928
10283
accumulative_quantity 344865
------------------------------
male_lower_limit 344865
male_upper_value 354830
years 60
quantity 302728
scaled quantity 9964.71362635808
9965
accumulative_quantity 354830
------------------------------
male_lower_limit 354830
male_upper_value 364499
years 61
quantity 293736
scaled quantity 9668.72942625696
9669
accumulative_quantity 364499
------------------------------
male_lower_limit 364499
male_upper_value 373668
years 62
quantity 278553
scaled quantity 9168.959841055079
9169
accumulative_quantity 373668
------------------------------
male_lower_limit 373668
male_upper_value 382329
years 63
quantity 263113
scaled quantity 8660.73074301668
8661
accumulative_quantity 382329
------------------------------
male_lower_limit 382329
male_upper_value 390593
years 64
quantity 251056
scaled quantity 8263.85780033216
8264
accumulative_quantity 390593
------------------------------
male_lower_limit 390593
male_upper_value 398606
years 65
quantity 243436
scaled quantity 8013.034890548959
8013
accumulative_quantity 398606
------------------------------
male_lower_limit 398606
male_upper_value 406575
years 66
quantity 242089
scaled quantity 7968.696510040039
7969
accumulative_quantity 406575
------------------------------
male_lower_limit 406575
male_upper_value 414208
years 67
quantity 231903
scaled quantity 7633.410137461079
7633
accumulative_quantity 414208
------------------------------
male_lower_limit 414208
male_upper_value 421419
years 68
quantity 219076
scaled quantity 7211.19157265936
7211
accumulative_quantity 421419
------------------------------
male_lower_limit 421419
male_upper_value 428580
years 69
quantity 217546
scaled quantity 7160.829492348559
7161
accumulative_quantity 428580
------------------------------
male_lower_limit 428580
male_upper_value 435932
years 70
quantity 223353
scaled quantity 7351.974982783079
7352
accumulative_quantity 435932
------------------------------
male_lower_limit 435932
male_upper_value 443036
years 71
quantity 215807
scaled quantity 7103.587886034519
7104
accumulative_quantity 443036
------------------------------
male_lower_limit 443036
male_upper_value 449547
years 72
quantity 197805
scaled quantity 6511.026990769799
6511
accumulative_quantity 449547
------------------------------
male_lower_limit 449547
male_upper_value 455918
years 73
quantity 193540
scaled quantity 6370.6385773544
6371
accumulative_quantity 455918
------------------------------
male_lower_limit 455918
male_upper_value 462152
years 74
quantity 189393
scaled quantity 6234.13429823748
6234
accumulative_quantity 462152
------------------------------
male_lower_limit 462152
male_upper_value 468050
years 75
quantity 179191
scaled quantity 5898.32126338076
5898
accumulative_quantity 468050
------------------------------
male_lower_limit 468050
male_upper_value 473379
years 76
quantity 161904
scaled quantity 5329.29558865344
5329
accumulative_quantity 473379
------------------------------
male_lower_limit 473379
male_upper_value 477996
years 77
quantity 140264
scaled quantity 4616.98485798304
4617
accumulative_quantity 477996
------------------------------
male_lower_limit 477996
male_upper_value 482735
years 78
quantity 143961
scaled quantity 4738.67676053796
4739
accumulative_quantity 482735
------------------------------
male_lower_limit 482735
male_upper_value 486907
years 79
quantity 126742
scaled quantity 4171.88940049112
4172
accumulative_quantity 486907
------------------------------
male_lower_limit 486907
male_upper_value 490265
years 80
quantity 102011
scaled quantity 3357.83410103596
3358
accumulative_quantity 490265
------------------------------
------------------------- woman values --------------------------
years 30
quantity 266932
17522
accumulative_quantity 490265
------------------------------
years 31
quantity 270659
17827
accumulative_quantity 490265
------------------------------
years 32
quantity 275244
18200
accumulative_quantity 490265
------------------------------
years 33
quantity 283423
18761
accumulative_quantity 490265
------------------------------
years 34
quantity 294140
19468
accumulative_quantity 490265
------------------------------
years 35
quantity 304859
20191
accumulative_quantity 490265
------------------------------
years 36
quantity 319552
21142
accumulative_quantity 490265
------------------------------
years 37
quantity 337370
22265
accumulative_quantity 490265
------------------------------
years 38
quantity 354531
23347
accumulative_quantity 490265
------------------------------
years 39
quantity 369466
24290
accumulative_quantity 490265
------------------------------
years 40
quantity 385117
25237
accumulative_quantity 490265
------------------------------
years 41
quantity 398512
25996
accumulative_quantity 490265
------------------------------
years 42
quantity 405797
26428
accumulative_quantity 490265
------------------------------
years 43
quantity 408319
26577
accumulative_quantity 490265
------------------------------
years 44
quantity 405506
26391
accumulative_quantity 490265
------------------------------
years 45
quantity 399090
25983
accumulative_quantity 490265
------------------------------
years 46
quantity 393506

25606
accumulative_quantity 490265
------------------------------
years 47
quantity 388862
25346
accumulative_quantity 490265
------------------------------
years 48
quantity 382155
24963
accumulative_quantity 490265
------------------------------
years 49
quantity 376626
24656
accumulative_quantity 490265
------------------------------
years 50
quantity 372004
24414
accumulative_quantity 490265
------------------------------
years 51
quantity 370087
24360
accumulative_quantity 490265
------------------------------
years 52
quantity 365477
24105
accumulative_quantity 490265
------------------------------
years 53
quantity 357896
23679
accumulative_quantity 490265
------------------------------
years 54
quantity 356809
23693
accumulative_quantity 490265
------------------------------
years 55
quantity 349375
23225
accumulative_quantity 490265
------------------------------
years 56
quantity 333530
22235
accumulative_quantity 490265
------------------------------
years 57
quantity 322155
21556
accumulative_quantity 490265
------------------------------
years 58
quantity 317622
21300
accumulative_quantity 490265
------------------------------
years 59
quantity 312398
20992
accumulative_quantity 490265
------------------------------
years 60
quantity 302728
20396
accumulative_quantity 490265
------------------------------
years 61
quantity 293736
19855
accumulative_quantity 490265
------------------------------
years 62
quantity 278553
18901
accumulative_quantity 490265
------------------------------
years 63
quantity 263113
17916
accumulative_quantity 490265
------------------------------
years 64
quantity 251056
17173
accumulative_quantity 490265
------------------------------
years 65
quantity 243436
16703
accumulative_quantity 490265
------------------------------
years 66
quantity 242089
16600
accumulative_quantity 490265
------------------------------
years 67
quantity 231903
15956
accumulative_quantity 490265
------------------------------
years 68
quantity 219076
15174
accumulative_quantity 490265
------------------------------
years 69
quantity 217546
15189
accumulative_quantity 490265
------------------------------
years 70
quantity 223353
15699
accumulative_quantity 490265
------------------------------
years 71
quantity 215807
15230
accumulative_quantity 490265
------------------------------
years 72
quantity 197805
14078
accumulative_quantity 490265
------------------------------
years 73
quantity 193540
13904
accumulative_quantity 490265
------------------------------
years 74
quantity 189393
13688
accumulative_quantity 490265
------------------------------
years 75
quantity 179191
13041
accumulative_quantity 490265
------------------------------
years 76
quantity 161904
11867
accumulative_quantity 490265
------------------------------
years 77
quantity 140264
10369
accumulative_quantity 490265
------------------------------
years 78
quantity 143961
10811
accumulative_quantity 490265
------------------------------
years 79
quantity 126742
9706
accumulative_quantity 490265
------------------------------
years 80
quantity 102011
7989
accumulative_quantity 490265
------------------------------

In [12]:
df

        age  gender  BMI  gluc  smoke  alco  active  risk_group
0        30       1    0     0      0     0       0           0
1        30       1    0     0      0     0       0           0
2        30       1    0     0      0     0       0           0
3        30       1    0     0      0     0       0           0
4        30       1    0     0      0     0       0           0
...     ...     ...  ...   ...    ...   ...     ...         ...
999995   80       2    0     0      0     0       0           0
999996   80       2    0     0      0     0       0           0
999997   80       2    0     0      0     0       0           0
999998   80       2    0     0      0     0       0           0
999999   80       2    0     0      0     0       0           0

[1000000 rows x 8 columns]

In [13]:
#df.age.unique()

In [14]:
#df.age.value_counts()

In [15]:
#df.loc[(df.age == 80) & (df.gender==1)]

# SETTING BMI

In [16]:
import random 

# each weight is defined
weight_under = random.uniform(16, 18.5)
weight_normal = random.uniform(18.5, 24.9)
weight_over = random.uniform(24.9, 29.9)
weight_obesity = random.uniform(29.9, 32.5)
# all weights are grouped
weights = [weight_under, weight_normal, weight_over, weight_obesity]
# the "don't know answer" is placed
weight_NSNC = random.choice(weights)
# all weights are grouped again
list_weights = [weight_under, weight_normal, weight_over, weight_obesity, weight_NSNC]

#the ages to create age intervals
weight_range = [25, 35, 45, 55, 65, 75, 85]

#the weight probability according to age intervals
male_weight_under_prob   = [0.4,0.5,0.7,0.4,0.2,0.7]
male_weight_normal_prob  = [52.8,40.0,29.1,24.7,24.5,26.4]
male_weight_over_prob    = [35.7,43.4,49.7,49.7,50.6,54.8]
male_weight_obesity_prob = [11.1,16.2,20.5,25.2,24.7,18.1]

#divind by 100
male_weight_under_prob   = [x / 100 for x in male_weight_under_prob]
male_weight_normal_prob  = [x / 100 for x in male_weight_normal_prob]
male_weight_normal_prob  = [x -0.1 for x in male_weight_normal_prob]
male_weight_over_prob    = [x / 100 for x in male_weight_over_prob]
male_weight_obesity_prob = [x / 100 for x in male_weight_obesity_prob]


male_weight_NSNC_prob    = []
for i in range(len(male_weight_under_prob)):
    prob = 1-male_weight_under_prob[i]-male_weight_normal_prob[i]-male_weight_over_prob[i]-male_weight_obesity_prob[i]
    if prob < 0:
        print('error with', i, 'prob =',prob )
        
    if prob >= 0:
        male_weight_NSNC_prob.append(prob)

In [17]:
# #for men, df.gender==2
#male_weights_pop = df.loc[(df.age >= weight_range[i]) & (df.age < weight_range[i+1]) & (df.gender == 2)]
# #for women, df.gender==1
# female_weights_pop = df.loc[(df.age >= weight_range[i]) & (df.age < weight_range[i+1]) & (df.gender == 1)]


for i in range(6):
    #for men, df.gender==2
    male_weights_pop = len(df.loc[(df.age >= weight_range[i]) & (df.age < weight_range[i+1]) & (df.gender == 2)])

    df.loc[(df.age >= weight_range[i]) & (df.age < weight_range[i+1]) & (df.gender == 2), 'BMI'] = np.random.choice(list_weights, 
                                                                                                                     male_weights_pop, 
                                                                                                                     p=[male_weight_under_prob[i], 
                                                                                                                    male_weight_normal_prob[i], 
                                                                                                                         male_weight_over_prob[i], 
                                                                                                                         male_weight_obesity_prob[i],
                                                                                                                       male_weight_NSNC_prob[i]])

In [18]:
df

        age  gender        BMI  gluc  smoke  alco  active  risk_group
0        30       1   0.000000     0      0     0       0           0
1        30       1   0.000000     0      0     0       0           0
2        30       1   0.000000     0      0     0       0           0
3        30       1   0.000000     0      0     0       0           0
4        30       1   0.000000     0      0     0       0           0
...     ...     ...        ...   ...    ...   ...     ...         ...
999995   80       2  24.240528     0      0     0       0           0
999996   80       2  17.356998     0      0     0       0           0
999997   80       2  25.404160     0      0     0       0           0
999998   80       2  30.831786     0      0     0       0           0
999999   80       2  17.356998     0      0     0       0           0

[1000000 rows x 8 columns]

In [19]:
import random 

# each weight is defined
weight_under = random.uniform(16, 18.5)
weight_normal = random.uniform(18.5, 24.9)
weight_over = random.uniform(24.9, 29.9)
weight_obesity = random.uniform(29.9, 32.5)
# all weights are grouped
weights = [weight_under, weight_normal, weight_over, weight_obesity]
# the "don't know answer" is placed
weight_NSNC = random.choice(weights)
# all weights are grouped again
list_weights = [weight_under, weight_normal, weight_over, weight_obesity, weight_NSNC]

#the ages to create age intervals
weight_range = [25, 35, 45, 55, 65, 75, 85]

#the weight probability according to age intervals
female_weight_under_prob   = [6.9,3.4,2.0,1.3,1.5,0.9]
female_weight_normal_prob  = [52.8,40.0,29.1,24.7,24.5,26.4]
female_weight_over_prob    = [21.8,24.4,29.3,39.5,39.1,40.5]
female_weight_obesity_prob = [10.6,12.9,15.7,18.8,26.3,28.0]

#divind by 100
female_weight_under_prob   = [x / 100 for x in male_weight_under_prob]
female_weight_normal_prob  = [x / 100 for x in male_weight_normal_prob]
female_weight_normal_prob  = [x -0.1 for x in male_weight_normal_prob]
female_weight_over_prob    = [x / 100 for x in male_weight_over_prob]
female_weight_obesity_prob = [x / 100 for x in male_weight_obesity_prob]


female_weight_NSNC_prob    = []
for i in range(len(female_weight_under_prob)):
    prob = 1-female_weight_under_prob[i]-female_weight_normal_prob[i]-female_weight_over_prob[i]-female_weight_obesity_prob[i]
    if prob < 0:
        print('error with', i, 'prob =',prob )
        
    if prob >= 0:
        female_weight_NSNC_prob.append(prob)

In [20]:
for i in range(6):
    #for men, df.gender==2
    female_weights_pop = len(df.loc[(df.age >= weight_range[i]) &
                                    (df.age < weight_range[i+1]) &
                                    (df.gender == 1)])

    df.loc[(df.age >= weight_range[i]) &
           (df.age < weight_range[i+1]) &
           (df.gender == 1), 'BMI'] = np.random.choice(list_weights, 
                                                       female_weights_pop, 
                                                       p=[female_weight_under_prob[i], 
                                                       female_weight_normal_prob[i], 
                                                       female_weight_over_prob[i], 
                                                       female_weight_obesity_prob[i],
                                                       female_weight_NSNC_prob[i]])

In [21]:
df

        age  gender        BMI  gluc  smoke  alco  active  risk_group
0        30       1  19.995960     0      0     0       0           0
1        30       1  19.995960     0      0     0       0           0
2        30       1  19.995960     0      0     0       0           0
3        30       1  17.524374     0      0     0       0           0
4        30       1  19.995960     0      0     0       0           0
...     ...     ...        ...   ...    ...   ...     ...         ...
999995   80       2  24.240528     0      0     0       0           0
999996   80       2  17.356998     0      0     0       0           0
999997   80       2  25.404160     0      0     0       0           0
999998   80       2  30.831786     0      0     0       0           0
999999   80       2  17.356998     0      0     0       0           0

[1000000 rows x 8 columns]

In [22]:
df.loc[df.BMI == 0].sum()

age           0.0
gender        0.0
BMI           0.0
gluc          0.0
smoke         0.0
alco          0.0
active        0.0
risk_group    0.0
dtype: float64

# SETTING DIABETES

In [23]:
gluc_bool = [3,1]
#the ages to create age intervals
gluc_range = [25, 35, 45, 55, 65, 75, 85]

#the non smoking probability according to men age intervals
male_diabetes_prob   = [0.0036,0.0207,0.0468,0.1505,0.2492,0.2489]
#the smoking probability according to men age intervals
male_nondiabetes_prob   = [1 - x  for x in male_diabetes_prob]


#the non smoking probability according to women age intervals
female_diabetes_prob   = [0.0099,0.011,0.0321,0.0737,0.1801,0.2422]
#the smoking probability according to women age intervals
female_nondiabetes_prob   = [1 - x  for x in female_diabetes_prob]

In [24]:
# #for men, df.gender==2
#male_weights_pop = df.loc[(df.age >= weight_range[i]) & (df.age < weight_range[i+1]) & (df.gender == 2)]
# #for women, df.gender==1
# female_weights_pop = df.loc[(df.age >= weight_range[i]) & (df.age < weight_range[i+1]) & (df.gender == 1)]


for i in range(6):
    #for men, df.gender==2
    male_gluc_pop = len(df.loc[(df.age >= gluc_range[i]) &
                                (df.age < gluc_range[i+1]) &
                                (df.gender == 2)])

    df.loc[(df.age >= gluc_range[i]) &
           (df.age < gluc_range[i+1]) &
           (df.gender == 2), 'gluc'] = np.random.choice(gluc_bool,  
                                                         male_gluc_pop, 
                                                         p=[male_diabetes_prob[i],
                                                            male_nondiabetes_prob[i]])

    #for woman, df.gender==1
    female_gluc_pop = len(df.loc[(df.age >= gluc_range[i]) &
                                (df.age < gluc_range[i+1]) &
                                (df.gender == 1)])

    df.loc[(df.age >= gluc_range[i]) &
           (df.age < gluc_range[i+1]) &
           (df.gender == 1), 'gluc'] = np.random.choice(gluc_bool,  
                                                         female_gluc_pop, 
                                                         p=[female_diabetes_prob[i],
                                                            female_nondiabetes_prob[i]])

# SETTING SMOKE

In this feature, a person who smokes everyday, usually or was an smoker will be consider in medical terms "smoker".
To do this, the probability of "smoking" (being a 1 in the dataset) will be just:
1 - prob of non-smoker

In [25]:
import random 

smoke_bool = [0,1]
#the ages to create age intervals
smoke_range = [25, 35, 45, 55, 65, 75, 85]

#the non smoking probability according to men age intervals
male_nonsmoke_prob   = [0.46,0.45,0.31,0.31,0.32,0.40]
#the smoking probability according to men age intervals
male_smoke_prob   = [1 - x  for x in male_nonsmoke_prob]

#the non smoking probability according to women age intervals
female_nonsmoke_prob   = [0.5528,0.5278,0.4557,0.6536,0.8684,0.9581]
#the smoking probability according to women age intervals
female_smoke_prob   = [1 - x  for x in female_nonsmoke_prob]

In [26]:
# #for men, df.gender==2
#male_weights_pop = df.loc[(df.age >= weight_range[i]) & (df.age < weight_range[i+1]) & (df.gender == 2)]
# #for women, df.gender==1
# female_weights_pop = df.loc[(df.age >= weight_range[i]) & (df.age < weight_range[i+1]) & (df.gender == 1)]


for i in range(6):
    #for men, df.gender==2
    male_smoke_pop = len(df.loc[(df.age >= smoke_range[i]) &
                                (df.age < smoke_range[i+1]) &
                                (df.gender == 2)])

    df.loc[(df.age >= smoke_range[i]) &
           (df.age < smoke_range[i+1]) &
           (df.gender == 2), 'smoke'] = np.random.choice(smoke_bool,  
                                                         male_smoke_pop, 
                                                         p=[male_nonsmoke_prob[i],
                                                            male_smoke_prob[i]])

    #for woman, df.gender==1
    female_smoke_pop = len(df.loc[(df.age >= smoke_range[i]) &
                                (df.age < smoke_range[i+1]) &
                                (df.gender == 1)])

    df.loc[(df.age >= smoke_range[i]) &
           (df.age < smoke_range[i+1]) &
           (df.gender == 1), 'smoke'] = np.random.choice(smoke_bool,  
                                                         female_smoke_pop, 
                                                         p=[female_nonsmoke_prob[i],
                                                            female_smoke_prob[i]])

In [27]:
df.smoke.value_counts()

1    512107
0    487893
Name: smoke, dtype: int64

In [28]:
df.loc[(df.smoke == 1) & (df.age == 40)]

        age  gender        BMI  gluc  smoke  alco  active  risk_group
101255   40       1  17.524374     1      1     0       0           0
101256   40       1  17.524374     1      1     0       0           0
101260   40       1  17.524374     1      1     0       0           0
101263   40       1  17.524374     1      1     0       0           0
101272   40       1  19.995960     1      1     0       0           0
...     ...     ...        ...   ...    ...   ...     ...         ...
604572   40       2  25.404160     1      1     0       0           0
604573   40       2  25.404160     1      1     0       0           0
604576   40       2  25.404160     1      1     0       0           0
604577   40       2  30.831786     1      1     0       0           0
604580   40       2  25.404160     1      1     0       0           0

[12965 rows x 8 columns]

# SETTING ALCOHOL CONSUMPTION

An alcohol consumptiom of "once or more than once in a month" is consider as a 1. Data from INE, year 2009.

In [29]:
import random 

alco_bool = [0,1]
#the ages to create age intervals
alco_range = [25, 45, 65, 85]

#the non smoking probability according to men age intervals
male_nonalco_prob   = [0.2,0.2,0.3]
#the smoking probability according to men age intervals
male_alco_prob   = [1 - x  for x in male_nonalco_prob]

#the non smoking probability according to women age intervals
female_nonalco_prob   = [0.4,0.5,0.6]
#the smoking probability according to women age intervals
female_alco_prob   = [1 - x  for x in female_nonalco_prob]

In [30]:
# #for men, df.gender==2
#male_weights_pop = df.loc[(df.age >= weight_range[i]) & (df.age < weight_range[i+1]) & (df.gender == 2)]
# #for women, df.gender==1
# female_weights_pop = df.loc[(df.age >= weight_range[i]) & (df.age < weight_range[i+1]) & (df.gender == 1)]


for i in range(3):
    #for men, df.gender==2
    male_alco_pop = len(df.loc[(df.age >= alco_range[i]) &
                                (df.age < alco_range[i+1]) &
                                (df.gender == 2)])

    df.loc[(df.age >= alco_range[i]) &
           (df.age < alco_range[i+1]) &
           (df.gender == 2), 'alco'] = np.random.choice(alco_bool,  
                                                         male_alco_pop, 
                                                         p=[male_nonalco_prob[i],
                                                            male_alco_prob[i]])

    #for woman, df.gender==1
    female_alco_pop = len(df.loc[(df.age >= alco_range[i]) &
                                (df.age < alco_range[i+1]) &
                                (df.gender == 1)])

    df.loc[(df.age >= alco_range[i]) &
           (df.age < alco_range[i+1]) &
           (df.gender == 1), 'alco'] = np.random.choice(alco_bool,  
                                                         female_alco_pop, 
                                                         p=[female_nonalco_prob[i],
                                                            female_alco_prob[i]])

In [31]:
df

        age  gender        BMI  gluc  smoke  alco  active  risk_group
0        30       1  19.995960     1      0     1       0           0
1        30       1  19.995960     1      1     1       0           0
2        30       1  19.995960     1      0     1       0           0
3        30       1  17.524374     1      0     1       0           0
4        30       1  19.995960     1      0     1       0           0
...     ...     ...        ...   ...    ...   ...     ...         ...
999995   80       2  24.240528     1      0     1       0           0
999996   80       2  17.356998     1      1     0       0           0
999997   80       2  25.404160     1      1     0       0           0
999998   80       2  30.831786     3      1     0       0           0
999999   80       2  17.356998     1      1     0       0           0

[1000000 rows x 8 columns]

# SETTING SEDENTARINESS

A sedentary life is consider as a 0 in 'active' column. Data from INE, year 2009.

In [32]:
active_bool = [0,1]
#the ages to create age intervals
active_range = [25, 35, 45, 55, 65, 75, 85]

#the non active probability according to men age intervals
male_nonactive_prob   = [0.293,0.349,0.391,0.344,0.289,0.386]
#the active probability according to men age intervals
male_active_prob   = [1 - x  for x in male_nonactive_prob]


#the non active probability according to women age intervals
female_nonactive_prob   = [0.399,0.432,0.352,0.372,0.388,0.587]
#the active probability according to women age intervals
female_active_prob   = [1 - x  for x in female_nonactive_prob]

In [33]:
# #for men, df.gender==2
#male_weights_pop = df.loc[(df.age >= weight_range[i]) & (df.age < weight_range[i+1]) & (df.gender == 2)]
# #for women, df.gender==1
# female_weights_pop = df.loc[(df.age >= weight_range[i]) & (df.age < weight_range[i+1]) & (df.gender == 1)]


for i in range(6):
    #for men, df.gender==2
    male_active_pop = len(df.loc[(df.age >= active_range[i]) &
                                (df.age < active_range[i+1]) &
                                (df.gender == 2)])

    df.loc[(df.age >= active_range[i]) &
           (df.age < active_range[i+1]) &
           (df.gender == 2), 'active'] = np.random.choice(active_bool,  
                                                         male_active_pop, 
                                                         p=[male_nonactive_prob[i],
                                                            male_active_prob[i]])

    #for woman, df.gender==1
    female_active_pop = len(df.loc[(df.age >= active_range[i]) &
                                (df.age < active_range[i+1]) &
                                (df.gender == 1)])

    df.loc[(df.age >= active_range[i]) &
           (df.age < active_range[i+1]) &
           (df.gender == 1), 'active'] = np.random.choice(active_bool,  
                                                         female_active_pop, 
                                                         p=[female_nonactive_prob[i],
                                                            female_active_prob[i]])

In [34]:
df

        age  gender        BMI  gluc  smoke  alco  active  risk_group
0        30       1  19.995960     1      0     1       1           0
1        30       1  19.995960     1      1     1       1           0
2        30       1  19.995960     1      0     1       1           0
3        30       1  17.524374     1      0     1       0           0
4        30       1  19.995960     1      0     1       0           0
...     ...     ...        ...   ...    ...   ...     ...         ...
999995   80       2  24.240528     1      0     1       0           0
999996   80       2  17.356998     1      1     0       1           0
999997   80       2  25.404160     1      1     0       1           0
999998   80       2  30.831786     3      1     0       1           0
999999   80       2  17.356998     1      1     0       1           0

[1000000 rows x 8 columns]

In [35]:
df.to_csv('country-model-v01.csv')